<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
  </div>
  <div class="meta">
    by {{user.username}} on {{user.created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}</a>
  </div>
</article>