    <header>
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/dashboard">Dashboard</a> </li>
                <li> <a href="/logout">Logout</a> </li>

                
            </ul>
            
        </nav>
        <div>
            <h2>
                <a href="#">Basketblog</a>
            </h2>
        </div>
    </header>
<body>
<ol class="post-list">
  {{#if post.length}}
      {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_text}}" target="_blank">{{title}}</a>
        <span>({{post_text}})</span>
      </div>
      <div class="meta">
        Created by {{user.username}} on
        {{createdAt}}
        |
        <a href="dashboard/{{post.id}}">{{comments.length}}Comments</a>
      </div>
      <div>
        {{> comments}}
      </div>
    </article>
  </li>
  
  {{/each}}
    

  {{else}}
<h1>No posts......</h1>


  {{/if}}
</ol>

{{{body}}}
<br>
<a href="/dashboard/update-post">Update Post</a>
</br>
<br>
<footer class="footer flex-row justify-center">
    <a href="/dashboard/new-post">New Post</a>
</footer>
</br>
</body>