
{{#each post}}
<article class="post">
  <div class="title">
    <a href="{{title}}" target="_blank">{{title}}</a>
  </div>
  <div class="meta">
    by {{user.user_id}} on 
    |
    <a href="/post/{{id}}">comments{{comments.length}}</a>
  </div>
  <div>
      {{post_text}}
  </div>
</article>
{{/each}}